DATABASE_URL=""
DATABASE_NAME=""
DATABASE_USER=""
DATABASE_PASSWORD=""
PORT=""
EMAIL_HOST=""
EMAIL_PORT=
EMAIL_USER="gitlab"
EMAIL_PASS=""
EMAIL_FROM=""
SECRET_JWT=""
SECRET_JWT_REFRESH=""
EXPIREIN_JWT=""
EXPIREIN_JWT_REFRESH=""